<!DOCTYPE html>
<html lang="en" ng-app="systemApp">
   <head>
      <title>System Status</title>
      <script type="text/javascript" src="system/scripts/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="system/style/bootstrap.css" />
      <link rel="stylesheet" href="system/style/systemstyle.css" />
      <script type="text/javascript" src="system/scripts/angular.min.js"></script>
      <script type="text/javascript" src="system/scripts/bootstrap.min.js"></script>
      <script type="text/javascript" src="system/scripts/systemcontroller.js"></script>
      <script type="text/javascript" src="system/scripts/systemfactory.js"></script>
   </head>
   <body ng-controller="SystemCtrl">
      <nav class="navbar navbar-inverse">
	     <div class="container-fluid">
	       <div class="navbar-header">
	         <a class="navbar-brand">{{customer.customername}} Status</a>
	       </div>
	       <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	             <li><a href="{{baseurl}}/home/system/wcp/debugger/gatewayperformance.htm" target="_blank">WebGateway Performance test</a></li>
	             <li><a href="{{baseurl}}/cordys/wcp/library/util/eventservice/com.eibus.web.tools.healthCheck.HealthCheckURL.wcp" target="_blank">WebGateway Health check</a></li>
	             <li><a href="application.htm" target="_blank">Application overview</a></li>
	             <li><a href="alerts.htm" target="_blank">Alert history</a></li>
	             <h6 class="timestampclass">(last refresh : {{datetime.datetime}} (UTC))</h6>
	         </ul>
     	   </div>
	    </div>
	 </nav>
	 
	 <div class="row">
	    <div class="col-lg-1">
	    </div>
	    <div class="col-lg-3">
	       <table class="table table-condensed table-bordered">
	          <span>
	    	     <caption><h4>Disk Space overview : </h4></caption>
		      </span>
		      <thead>
		         <tr>
		            <th>Drive :</th>
			        <th>Size (Gb.):</th>
			        <th>Used (Gb.):</th>
			        <th>Free (Gb.):</th>
			        <th>Percent free (%):</th>
	             </tr>
              </thead>
		      <tbody>
	  	         <tr ng-repeat="disk in system">
			        <td>{{disk.drive}}</td>
			        <td>{{disk.size}}</td>
			        <td>{{disk.used}}</td>
			        <td>{{disk.free}}</td>
			        <td class="{{getDiskClass(disk.percent)}}">{{disk.percent}}</td>
		         </tr>
		      </tbody>
	       </table>
	       <br>
	       <table class="table table-condensed table-bordered" ng-show="database.length>0">
			  <caption><h4>Database overview :</h4></caption>
				 <thead>
					<tr>
					   <th>Database (file) name :</th>
					   <th>Database size (Gb.):</th>
					</tr>
				 </thead>
				 <tbody>
					<tr ng-repeat="dbase in database">
					   <td>{{dbase.DBname}}</td>
					   <td>{{dbase.DBsize}}</td>
					</tr>
				 </tbody>
		   </table>
		   <br>
		   <table class="table table-condensed table-bordered">
		   <caption><h4>System overview :</h4></caption>
		      <tr>
		         <th>Last (re)boot time :</th>
		         <th>{{datetime.boottime}} (UTC)</th>
		      </tr>
		      <tr>
		         <th>O.S.</th>
		         <th>{{datetime.os}}</th>
		      </tr>
		      <tr>
		         <th>CPU's</th>
		         <th>{{datetime.cpus}}</th>
		      </tr>
		      <tr>
		         <th>Cores</th>
		         <th>{{datetime.cores}}</th>
		      </tr>
		      <tr>
		         <th>RAM (Gb.)</th>
		         <th>{{datetime.ram}}</th>
		      </tr>
		      <tr>
		         <th>Database</th>
		         <th>{{datetime.db}}</th>
		      <tr>
		         <th>Application</th>
		         <th>{{datetime.application}}</th>
		      </tr>
		   </table>
		   <br>
		   <div class="row">
		      <div class="col-lg-2">
		         <div class="charttext">
		            <div>CPU.</div>
		            <div>Av.CPU.</div>
		            <div>RAM.</div>
		         </div>
		      </div>
		      <div class="col-lg-5">
		         <div class="chart">
                    <div ng-style="{width: 3.8*utilization.cpu + 'px'}">{{utilization.cpu}}%</div>
                    <div ng-style="{width: 3.8*utilization.avcpu + 'px'}">{{utilization.avcpu}}%</div>
                    <div ng-style="{width: 3.8*utilization.ram + 'px'}">{{utilization.ram}}%</div>
                 </div>
              </div>
           </div>
	    </div>
	    <div class="col-lg-3">
	       <table class="table table-condensed table-bordered">
		      <caption><h4>Services overview :</h4></caption>
			     <thead>
			        <tr>
					   <th>Service :</th>
					   <th>Status :</th>
					</tr>
				 </thead>
				 <tbody>
					<tr ng-repeat="osservice in services">
					   <td>{{osservice.service}}</td>
					   <td class="{{getServicesClass(osservice.status)}}">{{osservice.status}}</td>
					</tr>
				 </tbody>
		   </table>
		   <br>
	       <h4>Backup overview :</h4>
	       <br>
	       <textarea class="form-control" rows="14" ng-model="dblogs"></textarea>
	    </div>
	 </div>
	 <br>
   </body>
</html>